@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/MACEL94/BlazorPong" target="_blank">Source code</a>
        <a href="https://www.linkedin.com/in/francesco-belacca-dev" target="_blank">Contact me</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
