@page "/pong"
@using BlazorPong.Components

<p>Here we are in "PongComponentWrapper", calling @nameof(BlazorPong.Components.Pong) component from the @typeof(BlazorPong.Components.Pong).Namespace namespace in the @typeof(BlazorPong.Components.Pong).Assembly.FullName assembly</p>

<BlazorPong.Components.Pong/>