@page "/"

<h1>BlazorPong</h1>

<p>Click on the <a href="pong">Pong</a> tab to choose the type of desired connection, connect and start playing or watching others play.</p>
<p>The rules are simple: the first 2 players to connect are player1 and player2. They can play as long as they want.</p>
<p>Everyone else can watch them in real time, and as soon as player1 or player2 disconnect, refreshing the page and reconnecting will get you their place.</p>
<p>This project uses <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" style="color: purple">Blazor</a> for the frontend(even if it's server hosted) and <a href="https://docs.microsoft.com/en-us/aspnet/core/signalr/introduction?view=aspnetcore-3.0" style="color: red">SignalR Core 3.0</a> for real time communication(RTC).</p>