worker_processes 1;  
  
events {  
    worker_connections 1024;  
}  
  
http {  
    include mime.types;  
     #include the required MIME types  
    for NGINX  
    keepalive_timeout 65;   
 #connection timeout  
    for worker_processes  
  
    upstream dotnetcore {  
        server aspnetcoreapp_A: 5000;  
    }  
  
    server {  
        listen 80;  
     #port to listen on  
  
        location / {  
            proxy_pass http: //dotnetcore; # Home page for App1  
        }  
    }  
}  
